@import url('https://fonts.googleapis.com/css?family=Kosugi');


.nav{
background-color: #CE1E1E;
    
}

.title {
padding-left: 20px;

}

    .vistas{
       
        display: flex;
         }
        


    @media only screen and (max-width: 1224px) { .vistas{
      
        flex-direction: column;
        
      padding-left: 10%;
              }

              .peli-mas{
       margin-top: 3%;
                      }


            }


            @media only screen and (min-width: 1023px) { .vistas{
                
                    display: flex;
                  
                
                      }
        
                      .peli-mas{
               margin-top: 3%;
               margin-left: 7%;
                              }
        
        
                    }



@media only screen and (max-width: 600px) {

    #singOut{
        padding-left: 0px;
            
        }
}


#welcome{
    padding-left: 20px;
        
    }


#movies {
    background: transparent;
    border: none;
    height: 30px;
    color: white;
    width: 110px;
  margin-bottom: 9px;
  padding-left: 0px;
 }



 #movies option{
    
    color: black;
 }

.container {

margin: 0px;
max-width: 3000px;
}

.navbartxt{
color: white;
font-family: 'Kosugi', sans-serif;
                      
}

.card{
    display:inline-flex;
    text-align: center;
    min-height: 560px;
    margin: 10px;
    margin-left: 20px;
    min-height: 560px;
        
    }


.height-img{
height: 400px;

}


.but-Search{
background-color: white;

}


#poster{
    
   padding-top: 50px;
 }
